// Generic styles for the app
$pastel-blue: #8bb0ee; 
$pastel-blue-dark1: darken($pastel-blue, 2.5%); 
$pastel-blue-dark2: darken($pastel-blue, 5.0%); 
$pastel-blue-dark3: darken($pastel-blue, 7.5%); 
$pastel-blue-dark4: darken($pastel-blue, 10%); 


